<article id="Login">
	<section class="am-text-c" am-padding="large">
		<div class="login-app-logo"s tyle="max-width: 30%;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 170.1 67.1"
				style="enable-background:new 0 0 170.1 67.1;" xml:space="preserve">
				<style type="text/css">
					.st0 {
						fill: none;
					}

					.st1 {
						fill: #FFFFFF;
					}
				</style>
				<g id="Schutzzone">
					<rect x="-42.1" y="-40.2" class="st0" width="42.4" height="42.4" />
					<rect x="-42.1" y="66.9" class="st0" width="42.4" height="42.4" />
					<rect x="167.3" y="-40.2" class="st0" width="42.4" height="42.4" />
					<rect x="167.3" y="66.9" class="st0" width="42.4" height="42.4" />
				</g>
				<g id="KAO_SD">
					<g>
						<g>
							<path class="st1" d="M0,65.3l1.2-1.4c1.1,0.9,2.1,1.4,3.5,1.4c1.2,0,2-0.6,2-1.4v0c0-0.8-0.4-1.2-2.5-1.7
							c-2.4-0.6-3.7-1.3-3.7-3.3v0c0-1.9,1.6-3.2,3.8-3.2c1.6,0,2.9,0.5,4,1.4l-1,1.5c-1-0.7-2-1.1-3-1.1c-1.1,0-1.8,0.6-1.8,1.3v0
							c0,0.9,0.5,1.2,2.6,1.7c2.3,0.6,3.5,1.4,3.5,3.2v0c0,2.1-1.6,3.3-4,3.3C2.9,67.1,1.3,66.5,0,65.3z" />
							<path class="st1" d="M16.3,55.8h1.8L23,66.9h-2.1l-1.1-2.7h-5.2l-1.1,2.7l-2,0L16.3,55.8z M19.1,62.5l-1.9-4.4l-1.9,4.4H19.1z"
							/>
							<path class="st1" d="M27.3,55.9h1.9v9.3H35v1.8h-7.8V55.9z" />
							<path class="st1" d="M37.8,61.4L37.8,61.4c0-3.1,2.4-5.8,5.8-5.8c3.4,0,5.8,2.6,5.8,5.7v0c0,3.1-2.4,5.7-5.8,5.7
							C40.1,67.1,37.8,64.5,37.8,61.4z M47.3,61.4L47.3,61.4c0-2.2-1.6-4-3.8-4c-2.2,0-3.7,1.8-3.7,3.9v0c0,2.2,1.6,3.9,3.8,3.9
							C45.8,65.3,47.3,63.6,47.3,61.4z" />
							<path class="st1" d="M54.2,55.9H56l5.9,7.7v-7.7h1.9v11.1h-1.6L56.1,59v7.9h-1.9V55.9z" />
							<path class="st1" d="M78.3,55.9h4.1c3.5,0,5.9,2.4,5.9,5.5v0c0,3.1-2.4,5.5-5.9,5.5h-4.1V55.9z M80.3,57.6v7.5h2.2
							c2.3,0,3.8-1.6,3.8-3.7v0c0-2.2-1.5-3.8-3.8-3.8H80.3z" />
							<path class="st1" d="M92.6,55.9h1.9v11.1h-1.9V55.9z" />
							<path class="st1" d="M99,55.9h2.1l3.3,8.5l3.3-8.5h2.1L105.3,67h-1.7L99,55.9z" />
							<path class="st1" d="M114.1,55.9h1.9v11.1h-1.9V55.9z" />
							<path class="st1" d="M120.5,65.3l1.2-1.4c1.1,0.9,2.1,1.4,3.5,1.4c1.2,0,2-0.6,2-1.4v0c0-0.8-0.4-1.2-2.5-1.7
							c-2.4-0.6-3.7-1.3-3.7-3.3v0c0-1.9,1.6-3.2,3.8-3.2c1.6,0,2.9,0.5,4,1.4l-1,1.5c-1-0.7-2-1.1-3-1.1c-1.1,0-1.8,0.6-1.8,1.3v0
							c0,0.9,0.5,1.2,2.6,1.7c2.3,0.6,3.5,1.4,3.5,3.2v0c0,2.1-1.6,3.3-4,3.3C123.5,67.1,121.9,66.5,120.5,65.3z" />
							<path class="st1" d="M134.5,55.9h1.9v11.1h-1.9V55.9z" />
							<path class="st1" d="M141.2,61.4L141.2,61.4c0-3.1,2.4-5.8,5.8-5.8c3.4,0,5.8,2.6,5.8,5.7v0c0,3.1-2.4,5.7-5.8,5.7
							C143.6,67.1,141.2,64.5,141.2,61.4z M150.8,61.4L150.8,61.4c0-2.2-1.6-4-3.8-4c-2.2,0-3.7,1.8-3.7,3.9v0c0,2.2,1.6,3.9,3.8,3.9
							C149.2,65.3,150.8,63.6,150.8,61.4z" />
							<path class="st1" d="M157.6,55.9h1.8l5.9,7.7v-7.7h1.9v11.1h-1.6l-6.1-7.9v7.9h-1.9V55.9z" />
						</g>
						<g>
							<path class="st1" d="M105.4,25c0-15.7-13.3-22.5-26.8-22.5c-10.5,0-19.8,3.7-24.1,9l8.6,0c0.7,0,1.6,0,2.5-0.9
							c2.9-2.9,7.8-4,13-4c5.8,0,11.8,3.1,14.1,8.2c0.7,1.7,1.3,4,1.4,9.3c0.1,4-0.5,8.3-1.4,10.7c-1.6,4.1-6.6,8.3-14.7,8.3
							c-8.4,0-14.7-5.3-14.7-11.6c0-8.3,11.8-12.1,23.5-11.3c0.1-1.5-6.2-3.2-12.4-2.9c-13.8,0.6-22.7,6-22.7,14.2
							c0,7.9,8.7,15.8,26.1,15.8c6.9,0,14.3-2.2,18.3-5.6c1.7,1.9,4.2,3.1,7.1,3.1h2.2L105.4,25z" />
							<path class="st1" d="M49.4,2.3h-2.2c-4.4,0-7.7,1.1-11.3,3.6c-1.8,1.2-24.5,17.8-24.5,17.8l0-12.9c0-7.8-5.8-8.6-8.5-8.6H0.3
							L0.3,36.9c0,7.3,7.5,7.7,9,7.7l2.2,0l0-20.4c0,0,10.9,9.2,20.6,16.6c3.2,2.4,7.7,3.9,13.9,3.9l6.6,0
							c-8.7-6.6-29.7-23.1-29.7-23.1L49.4,2.3z" />
							<path class="st1" d="M141.4,0c-15.9,0-28.8,10.5-28.8,23.6c0,13.1,12.8,23.7,28.7,23.7c15.9,0,28.8-10.5,28.8-23.6
							C170.1,10.6,157.3,0,141.4,0 M141.3,43.1c-10.9,0-17.2-8.8-17.2-19.5c0-10.8,6.4-19.5,17.2-19.5c10.9,0,17.2,8.8,17.2,19.6
							C158.5,34.4,152.2,43.1,141.3,43.1" />
						</g>
					</g>
				</g>
			</svg>
		</div>
	</section>
	<section am-layout="vertical" class="am-text-c" am-padding="large">
		<h3 class="text-center" ng-show="login.form ==='login'">Login to your account</h3>
        <h3 class="text-center" ng-show="login.form ==='forgot'">Forgot your password?</h3>

		<nav am-layout="horizontal" ng-show="login.form ==='login' || login.form ==='forgot'">
			<a href="" ng-click="login.setForm('login')" ng-class="{active:login.form == 'login'}">LOGIN</a>
			<a href="" ng-click="login.setForm('forgot')" ng-class="{active:login.form == 'forgot'}" ng-disabled="true">FORGOT PASSWORD?</a> <!-- TODO: Aveda UAT change-->
		</nav>
		<hr/>
		<div ng-switch="login.form">
			<form name="login_form" am-layout="vertical" ng-submit="login.submit(login.credentials)" ng-switch-when="login" ng-show="!login.resetPasswordToken">
				<fieldset am-layout="overlayed">
					<div role="group">
						<label for="Username" class="visuallyhidden">Username</label>
						<input id="Username" type="text" name="Username" placeholder="Username" ng-model="login.credentials.Username" ng-required="true"/>
						<i class="fa fa-user"></i>
					</div>
				</fieldset>
				<fieldset am-layout="overlayed">
					<div role="group">
						<label for="Password" class="visuallyhidden">Password</label>
						<input id="Password" type="password" name="Password" placeholder="Password" ng-model="login.credentials.Password" ng-required="true"/>
						<i class="fa fa-lock"></i>
					</div>
				</fieldset>
				<fieldset am-layout>
					<button class="am-btn am-primary" type="submit" ng-disabled="login_form.$invalid">Login</button>
					<div ng-show="login.errorMessage">{{login.errorMessage}}</div>
				</fieldset>
			</form>
			<form name="resetPasswordForm" am-layout="vertical" ng-submit="login.resetPassword(login.resetPasswordCredentials)" ng-show="login.resetPasswordToken">
				<fieldset am-layout="overlayed">
					<div role="group">
						<label for="Username" class="visuallyhidden">Username</label>
						<input id="Username" type="text" name="Username" placeholder="Username" ng-model="login.resetPasswordCredentials.Username" ng-required="true"/>
						<i class="fa fa-user"></i>
					</div>
				</fieldset>
				<blockquote>
					<ul>
						<li>Minimum of 8 alphanumeric characters.</li>
						<li>Two or more of the following kinds of characters</li>
						<ol>
							<li>Alphabetic (e.g., a-z, A-Z)</li>
							<li>Numeric (i.e. 0-9)</li>
							<li>Punctuation and other characters (e.g., !@#$%^&amp;*()_+|~-=\`{}[]:";'&lt;&gt;?,./)</li>
						</ol>
					</ul>
				</blockquote>
				<fieldset am-layout="overlayed">
					<div role="group">
						<label for="ResetPassword" class="visuallyhidden">Password</label>
						<input id="ResetPassword" type="password" name="ResetPassword" placeholder="Password" ng-model="login.resetPasswordCredentials.Password" ng-required="true" ng-pattern="/^.*(?=.{8,})((?=.*\d)(?=.*[a-zA-Z])|(?=.*\W)(?=.*[a-zA-Z])|(?=.*\d)(?=.*\W)).*$/"/>
						<i class="fa fa-lock"></i><i class="fa fa-check" ng-show="resetPasswordForm.ResetPassword.$valid"></i>
					</div>
				</fieldset>
				<fieldset am-layout="overlayed">
					<div role="group">
						<label for="ConfirmResetPassword" class="visuallyhidden">Confirm Password</label>
						<input id="ConfirmResetPassword" type="password" name="ConfirmResetPassword" placeholder="Confirm Password" ng-model="login.resetPasswordCredentials.ConfirmPassword" ng-required="true" ng-pattern="/^.*(?=.{8,})((?=.*\d)(?=.*[a-zA-Z])|(?=.*\W)(?=.*[a-zA-Z])|(?=.*\d)(?=.*\W)).*$/"/>
						<i class="fa fa-lock"></i><i class="fa fa-check" ng-show="resetPasswordForm.ConfirmResetPassword.$valid && login.resetPasswordCredentials.ConfirmPassword == login.resetPasswordCredentials.Password"></i>
					</div>
				</fieldset>
				<fieldset am-layout>
					<button class="am-btn am-primary" type="submit" ng-disabled="resetPasswordForm.$invalid || login.resetPasswordCredentials.Password != login.resetPasswordCredentials.ConfirmPassword">Submit</button>
				</fieldset>
			</form>
			<form name="forgot_password" ng-switch-when="forgot" ng-submit="login.forgotPassword(login.forgotPasswordEmail)">
				<fieldset am-layout="overlayed">
					<div role="group">
						<label for="Email" class="visuallyhidden">Email</label>
						<input id="Email" type="text" name="Email" placeholder="Email" ng-model="login.forgotPasswordEmail" ng-required="true"/>
						<i class="fa fa-envelope"></i>
						<div ng-show="login.forgotPasswordMessage">{{login.forgotPasswordMessage}}</div>
						<button class="am-btn am-primary" type="submit" ng-disabled="forgot_password.$invalid">Submit</button>
					</div>
				</fieldset>
			</form>
			<form ng-switch-when="resetSuccess">
				<div class="alert alert-success text-center">Your password has been reset.</div>
				<div class="text-center">
					<a id="back_to_login2" ng-click="login.setForm('login')">Back to Login</a>
				</div>
			</form>
            <form name="ResetPasswordForm" am-layout="vertical" ng-switch-when="resetByToken" ng-submit="login.resetPasswordByToken()">
				<h3 class="text-center">Reset Password</h3>
				<div class="reset-password-alert">
					Due to a change in how we store password information, <br>as of <b>TBD</b> you must reset your password. <br> You can use the same password as before.
				</div>
				<fieldset am-layout="overlayed">
					<div role="group">
						<label for="NewPassword" class="visuallyhidden">New Password</label>
						<input type="password" id="NewPassword" name="NewPassword" placeholder="New Password" ng-model="login.credentials.NewPassword" ng-required="true" autofocus/>
						<i class="fa fa-lock"></i>
					</div>
				<fieldset am-layout="overlayed">
					<div role="group">
						<label for="ConfirmPassword" class="visuallyhidden">Confirm Password</label>
						<input type="password" id="ConfirmPassword" placeholder="Confirm New Password" ng-model="login.credentials.ConfirmPassword" ng-required="true" />
						<i class="fa fa-lock"></i>
					</div>
				</fieldset>
				<fieldset am-layout="overlayed">
					<button type="submit" id="reset_submit" class="am-btn am-primary" ng-disabled="ResetPasswordForm.$invalid || login.credentials.NewPassword != login.credentials.ConfirmPassword">Submit</button>
				</fieldset>
            </form>
			
		</div>
	</section>
</article>

