<header class="aveda-blue-header">
	<h3>Administer Categories</h3>
	<button type="button" class="am-btn am-primary" ng-click="adminCategories.createNewCategory()"><i class="fa fa-plus-circle"></i> Create New</button>
</header>
<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle class="tree-node tree-node-content" ng-class="{'inactive-node':!node.Active}">
		<i ng-if="node.children && node.children.length > 0" data-nodrag ng-click="adminCategories.toggle(this)"
				class="fa"
				ng-class="{
          'fa-folder': collapsed,
          'fa-folder-open': !collapsed
        }"></i>
		<p>{{node.Name}}</p>
		<a class="am-btn am-secondary" data-nodrag ng-click="adminCategories.editCategory(node)"><i class="fa fa-edit"></i> Edit</a>
	</div>
	<ol ui-tree-nodes ng-model="node.children" ng-class="{'ng-hide': collapsed}">
		<li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>
<article>
	<section am-padding-l="large" am-padding-p="small">
		<div ui-tree="adminCategories.treeOptions" id="tree-root">
			<ol ui-tree-nodes ng-model="adminCategories.avedaTree">
				<li ng-repeat="node in adminCategories.avedaTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
			</ol>
		</div>
	</section>
	<section></section>
</article>
